
@import './base/common';
@import './base/container';
@import './components/logo';
@import './components/button';
@import './components/soc-link';

@import './mixins/fonts';
@import './mixins/flex-center';

@import './window/mobile-menu';

@import './components/header';
// @import './components/footer';

// @import './utils/visually-hiden';

// @import './components/selection-btn';

// @import './/layout/hero';
// @import './layout/about';
// @import './layout/specifity';
// @import './layout/team';
// @import './layout/progect';

// @import './layout/portfolio';

// @import './layout/modal-window';