.backdrop {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
}

.modal {
    display: block;
    width: 100%;
    padding: calc(17.77% / 2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;

    @media screen and (min-width: 480px) {
    padding: 40px;
    width: 450px;
    }

    @media screen and (min-width: 1200px) {
    width: 528px;
    }
}

.backdrop-modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    color: #000;
    cursor: pointer;
}


.modal-button-svg {
    fill: currentColor;
    transition:
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .backdrop-modal-button:hover &,
        .backdrop-modal-button:focus & {
            fill: var(--accent-color)
        }
}

.modal-form {
    font-weight: 400;
}

.modal-title {
    margin-bottom: 12px;
    font-family: var(--first-font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.modal-label {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--content-color);
}

.modal-input-box {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.modal-imput {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition:
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            outline: none;
            border-color: var(--accent-color);
        }
}

.modal-input-svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    fill: #212121;
    transition:
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .modal-imput:focus+& {
            fill: var(--accent-color);
        }
}

.modal-comment {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    transition:
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            outline: none;
            border-color: var(--accent-color);
        }
        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
}

/* ========CHECKBOX=========== */
.conditions-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--content-color);
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 2;
    }
}



.conditions-link {
    margin-left: 4px;
    color: #2196F3;
}

.codition-label {
    display: flex;
    align-items: center;

    &::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 15px;
        border-radius: 4px;
        border: 2px solid #212121;
        margin-right: 9px;
        transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .conditions-check:checked+& {
            background-color: var(--accent-color);
            background-image: url(../image/checked.svg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border: 0;
        }

        .conditions-check:hover+&,
        .conditions-check:focus+& {
            border-color: var(--accent-color);
        }
    }
}


