.portfolio-caption {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio-category {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--content-color);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.portfolio-list-item {
    // width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    /* border-radius: 4px; */

    // &:nth-last-child(-n + 3) {
    //     margin-bottom: 0;
    // }
    
    // &:nth-child(3n) {
    //     margin-right: 0;
    // }
}


.portfolio-text-box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.portfolio-link {
    transition:
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            display: block;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}



/* owerlay */
.overlay-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-family: var(--first-font-family);
    color: var(--second-title-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(100%);
    transition:
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .portfolio-link:hover &,
        .portfolio-link:focus & {
            transform: translateY(0%);
        }
}
