.container {
    width: 100%; 
    padding-left: 15px;
    padding-right: 10px;
}

@media screen {min-width: 460px;
    
}
.container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


// .container {
//     width: 1200px;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin-left: auto;
//     margin-right: auto;
// }